@model IEnumerable<Anzuelo.Application.DTOs.PreparacionDTO>
@{
    ViewData["Title"] = "Procesos de Preparación";
}
<h1 class="mb-4">Procesos de Preparación</h1>
<div class="table-responsive">
    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Producto</th>
                <th class="text-center">Cantidad de Pasos</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@string.Join(", ", item.NombresProductos)</td>
                    <td class="text-center">
                        <span class="badge bg-primary rounded-pill">
                            @item.Estaciones.Count
                        </span>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.IdPreparacion"
                           class="btn btn-primary btn-sm">Ver detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>